button{
    background-color : green;
    color : white;
    border : 1px;
    border-radius : 4px;
    padding : 8px 16px;
    margin : 4px 2px;
    cursor : pointer;
}
input[type = text]{
    width: 30%;
    border: 2px solid black;
    border-radius : 4px;
    padding: 8px 16px;
}
body{
    text-align : center;
}
.resultTable{
    display: inline-block;
}
h1{
    color : rgba(47,86,135,1);
}
table {
  border-collapse: collapse;
}

caption {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  color: #333;
}


th, td {
  border: 1px solid black;
  padding: 8px;
}